.super-hero-container {
  padding-bottom: 40px;
}

.form-field {
  width: 200px;
  float: right;
}

table {
  width: 100%;
}

button {
  margin-left: 10px;
}

.button-row {
  display: flex;
}

.add-button {
  margin-bottom: 15px;
}
